.woocommerce-cart{
    main{
        main{
            article{
                margin: 0 100px;
                header{
                    h1{
                        @extend %fontBold;
                        font-size: 35px;
                        margin-bottom: 30px;
                        a{
                            color: #92374D;
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                }
                div{
                    div{
                        .woocommerce-notices-wrapper{
                            .woocommerce-message{
                                background: none;
                                border-top-color: #559CAD;
                                @extend %fontRegular;
                                color: #559CAD;
                                font-size: 15px;

                                &::before{
                                    color: #559CAD;
                                }
                            }
                            .woocommerce-error{
                                background: none;
                                border-top-color: #92374D;
                                @extend %fontRegular;
                                color: #92374D;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.woocommerce-cart-form{
    border: 2px solid #4A5899;
    border-radius: 10px;
    table{
        border: none !important;
        overflow: hidden;
        margin: 0 !important;
        thead{
            background: #4A5899;
            tr{
                color: #fff;
                @extend %fontBold;
                font-size: 15px;
                border-radius: 10px;
            }
            
        }
        tbody{
            tr{
                .product-remove{
                    a{
                        color: #92374D !important;
                    }
                }
                .product-thumbnail{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;

                    a{
                        width: 100px;
                        height: 100px;
                        overflow: hidden;


                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
                .product-name{
                    @extend %fontRegular;
                    font-size: 15px;
                    color: #4A5899;

                    a{
                        text-decoration: underline;
                        color: #4A5899;
                    }
                }

                .product-price{
                    span{
                        @extend %fontBold;
                        color: #4A5899;
                        font-size: 15px;

                    }
                }
                .product-quantity{
                    .quantity input{
                        @extend %fontBold;
                        color: #4A5899;
                        font-size: 15px;
                        border: 1px solid #4A5899;
                        border-radius: 5px;
                    }
                }
                .product-subtotal{
                    span{
                        @extend %fontBold;
                        color: #4A5899;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.coupon{
    display: flex;
    flex-direction: row;
    align-items: center;

    input{
        border: 2px solid #559CAD !important;
        border-radius: 10px;
        color: #559CAD;
        @extend %fontBold;
        font-size: 15px;
        width: 100px !important;
        height: 40px !important;

        &::placeholder{
            color: #559CAD;
        }
    }
    .button{
        background: #559CAD !important;
        color: #fff !important;
        border-radius: 10px !important;
        height: 40px;
    }
}

.actions{
    .button-maj{
        background-color: #4A5899 !important;
        color: #fff !important;
        border-radius: 10px !important;
        height: 40px;
        @extend %fontBold;
        font-size: 16px;
        padding: 0 10px;
    }
}

.cart-collaterals{
    margin-top: 30px;
    margin-bottom: 30px;
    .cart_totals{
        border: 2px solid #92374D !important;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        h2{
            padding: 10px;
            color: #92374D;
            @extend %fontBold;
            font-size: 22px;
            text-transform: uppercase ;
        }
        table{
            margin: 0 !important;
            tbody{
                tr{
                    th{
                        color:#92374D;
                        @extend %fontRegular;
                        font-size: 18px;
                    }
                    td{
                        color: #92374D;
                        @extend %fontBold;
                        font-size: 18px;
                    }
                }
            }
        }
        .wc-proceed-to-checkout{
            padding: 0 !important;
            a{
                @extend %fontBold;
                color: #fff;
                background: #92374D !important;
                font-size: 20px;
                margin: 0 !important;
            }
        }
    }
}