.woocommerce-checkout{
    main{
        main{
            article{
                margin: 0 100px;

                header{
                    h1{
                        font-size: 35px;
                        @extend %fontBold;
                        text-transform: uppercase;
                        margin: 30px 0;

                        a{
                            color: #92374D;
                            text-decoration: none;
                        }
                    }
                }

                div{
                    div{
                        .woocommerce-form-coupon-toggle{
                            div{
                                background: none;
                                @extend %fontRegular;
                                font-size: 15px;
                            }
                        }
                        .checkout_coupon{
                            border: 1px solid #559CAD;
                            @extend %fontRegular;
                            color: #559CAD;

                            p{
                                input{
                                    border: 1px solid #559CAD;
                                    color: #559CAD;
                                    border-radius: 5px;
                                    @extend %fontBold;
                                    padding: 10px;
                                }
                                button{
                                    background-color: #559CAD;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.woocommerce-billing-fields{
    h3{
        color: #4A5899;
        @extend %fontBold;
        font-size: 24px;
        margin-bottom: 30px;
    }
    &__field-wrapper{
        p{
            label{
                @extend %fontMedium;
                color: #4A5899;
                font-size: 16px;
            }
            input{
                @extend %fontRegular;
                font-size: 16px;
                color: #4A5899;
                border: 1px solid #4A5899;
                border-radius: 5px;
                padding: 10px;
            }
            span{
                @extend %fontRegular;
                color: #4A5899 !important;

                select{
                    padding: 5px 35px 5px 5px;
                    font-size: 18px;
                    border: 2px solid #4A5899 !important;
                }
            }
        }
    }
}

.woocommerce-additional-fields{
    h3{
        color: #4A5899;
        @extend %fontBold;
        font-size: 24px;
        margin-bottom: 30px;
    }
    div{
        .notes{
            @extend %fontMedium;
            color: #4A5899;
            span{
                textarea{
                    border-radius: 10px;
                    background-color: #4A5899;
                    color: #fff;
                    @extend %fontRegular;
                    font-size: 15px;
                    padding: 10px;

                    &::placeholder{
                        color: rgba($color: #fff, $alpha: 0.5);
                    }
                }
                
            }
        }
    }
}
#order_review_heading{
    background-color: #92374D;
    color: #fff;
    @extend %fontBold;
    font-size: 22px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 30px;
}

#order_review{
    @extend %fontRegular;
    color:#92374D ;
    margin-bottom: 30px;
}

#place_order{
    background: #92374D;
    margin-top: 20px;
}

.woocommerce-NoticeGroup{
    ul{
        border-top: 3px solid #92374D;
        background-color: none;
        @extend %fontRegular;
        color: #92374D;
    }
}

.woocommerce-order{
    p{
        @extend %fontRegular;
        font-size: 15px;
        color: #4A5899;
        margin-bottom: 10px;
    }
    ul{
        @extend %fontRegular;
        font-size: 15px;
        color: #4A5899;
        border: 1px solid #4A5899;
        padding: 10px;
        border-radius: 10px;

        li{
            strong{
                @extend %fontBold;
            }
        }
    }
    .woocommerce-order-details{
        h2{
            @extend %fontBold;
            font-size: 20px;
            color: #4A5899;
            margin-bottom: 10px;

        }
        table{
            @extend %fontRegular;
            color: #4A5899;
            overflow: hidden;
            thead{
                background-color: #4A5899;
                color: #fff;
                tr{
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    a{
                        color: #4A5899;
                        @extend %fontBold;
                    }
                }
            }
           
        }
    }
}

.woocommerce-customer-details{
    h2{
        @extend %fontBold;
        font-size: 20px;
        color: #4A5899;
        margin-bottom: 10px;
    }
    address{
        @extend %fontRegular;
        color: #4A5899;
        line-height: 25px;
        p{
            @extend %fontBold;
        }
    }
}