@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

%fontLight{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
}

%fontRegular{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}

%fontMedium{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
}

%fontBold{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}

%fontBlack{
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
}