.site-footer{
    background-color: #4A5899;
    padding: 30px 100px;
    display: flex; flex-direction: row;
    justify-content: space-between;

    .container-paiements{
        width: 33%;
        text-align: center;

        h2{
            @extend %fontBlack;
            font-size: 18px;
            color: #fff; 
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        &__logo{
            display: flex; flex-direction: row;
            justify-content: center;

            :nth-child(2){
                margin: 0 20px;
            }

            img{
                width: 10%;
            }
        }
    }

    .container-mentions{
        width: 33%;
        text-align: center;
        h2{
            @extend %fontBlack;
            font-size: 18px;
            color: #fff; 
            text-transform: uppercase;
            margin-bottom: 20px; text-align: center;
        }

        &__list{
            display: flex; flex-direction: column;
            align-items: center;

            
            
            a{
                text-decoration: underline;
                @extend %fontRegular;
                font-size: 15px;
                color: #fff;

                &:nth-child(2n){
                    margin: 10px 0;
                }
            }
        }
    }

    .container-contact{
        width: 33%;
        text-align: center;

        h2{
            @extend %fontBlack;
            font-size: 18px;
            color: #fff; 
            text-transform: uppercase;
            margin-bottom: 20px;
        }

            &__list{
                display: flex; flex-direction: column;
                align-items: center;

                
                a{
                    @extend %fontRegular;
                    font-size: 15px;
                    color: #fff;
                    text-decoration: none;

                    &:nth-child(2n){
                        margin: 10px 0;
                    }
                }
            }
        
    }
}