.container-main{

    .container__hero-banner{
        width: 100vw;
        height: 300px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        img{
            background-color: rgba($color: #000000, $alpha:  0.5);
            height: 100%;
            width: auto;
        }

        &__black{
            position: absolute; 
            top: 0; left: 0;
            width: 100%; height: 100%;
            background: rgba($color: #000000, $alpha: 0.5);
        }

        &__noimg{
            background: black;
            width: 100vw;
            height: 200px;
        }
        &__center{

            position: absolute;
            left: 50px; top: 50px;

            &-txt{
                
                @extend %fontBold;
                color: #fff;
                font-size: 50px;
                width: 70%;
                margin-bottom: 20px;
            }
    
            &-notxt{
                @extend %fontBold;
                color: #fff;
                font-size: 50px;
            }
    
            &-link{
                width: 20%;
                background: #4A5899;
                padding: 10px; border-radius: 10px;
                color: #fff;
                @extend %fontRegular;
                display: flex;
                justify-content: center; align-items: center;
                align-self: flex-start;
                text-decoration: none;
                font-size: 16px;
            }
        }
    }

    .container-category{
        display: flex; flex-direction: column;
        justify-content: center;
        margin: 0 100px;
        position: relative;

        &__title{
            @extend %fontBold;
            color: #8C5383;
            text-transform: uppercase;
            font-size: 28px;
            margin: 50px 0; 
            text-align: center;
        }

        &__link{
            position: absolute; 
            right: 0; top: 60px;
            @extend %fontRegular;
            color: #C1B2AB;
            font-size: 12px;
            text-transform: uppercase;
        }
        &__products{

            .products{
                
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 250px);
                column-gap: 20px; row-gap: 20px;
                overflow: hidden;

                &::before{
                    display: none;
                }

                .first{
                    grid-column: span 1;
                    grid-row: 1 / span 2;
                    // background: grey;
                    width: 100%; height: 100%;

                    a{
                        &::before{
                            content: "";
                            width: 100%; height: 100%;
                            background-color: rgba($color: #C1B2AB, $alpha: 0.6);
                            position: absolute;
                            top: 0; left: 0;
                        }

                        img{
                            height: 100% !important;
                            width: auto !important;
                            margin: 0 !important;
                            max-width: 500% !important;
                            }

                        h2{
                            @extend %fontBold;
                            color: #fff;
                            font-size: 20px !important;
                            text-align: center;
                            position: absolute;
                            top: 116vh !important;
                            background-color: #559CAD;
                            height: 5% !important;
                            padding: 20px;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &::before{
                                content: "Voir tous les";
                                margin-right: 6px;

                            }

                            mark{
                                display: none;
                            }
                        }
                    }
                }
 
                :nth-child(2){
                    grid-column: span 1;
                    grid-row: span 1;
                    // background: grey;
                    width: 100%; height: 100%;
                }    

                :nth-child(3){
                    grid-column: span 1;
                    grid-row: span 2;
                    // background: grey;
                    width: 100%; height: 100%;
                    a{
                        h2{
                            top: 116vh !important;
                            height: 5% !important;
                        }
                    }
                }    
                
                .last{
                    grid-column: 2 / span 1;
                    grid-row: 2 /span 1;
                    // background: grey;
                    width: 100%; height: 100%;

                    
                }

                .product-category{
                    border-radius: 10px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;

                    a{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &::before{
                            content: "";
                            width: 100%; height: 100%;
                            background-color: rgba($color: #C1B2AB, $alpha: 0.6);
                            position: absolute;
                            top: 0; left: 0;
                        }

                        img{
                            height:fit-content;
                            width: 100%;
                        }

                        h2{
                            @extend %fontBold;
                            color: #fff;
                            font-size: 20px !important;
                            text-align: center;
                            position: absolute;
                            top: 48vh;
                            background-color: #559CAD;
                            width: 65%;
                            height: 10%;
                            padding: 20px;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &::before{
                                content: "Voir tous les";
                                margin-right: 6px;

                            }

                            mark{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .container-lastproduct{
        margin: 0 100px;
        position: relative;


        &__title{
            @extend %fontBold;
            color: #8C5383;
            text-transform: uppercase;
            font-size: 28px;
            margin: 50px 0; 
            text-align: center;
        }

        &__link{
            position: absolute; 
            right: 0; top: 13px;
            @extend %fontRegular;
            color: #C1B2AB;
            font-size: 12px;
            text-transform: uppercase;
        }

        &__products{
            .product{
                display: flex;
                flex-direction: column;
                justify-content: center;

                a{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img{
                        border-radius: 10px;
                        position: relative;

                        &::before{
                            content: "";
                            background: rgba($color: #C1B2AB, $alpha: 0.4);
                            width: 100%; height: 100%;
                            position: absolute; top: 0; left: 0;
                            z-index: 2;
                        }
                    }

                    h2{
                        @extend %fontBold;
                        font-size: 22px !important;
                        color: #4A5899;
                    }

                    .price{
                        @extend %fontBlack;
                        font-size: 20px !important;
                        color: #636363 !important;
                    }
                }

                .add_to_cart_button{
                    background: #4A5899;
                    color: #fff;width: 50%;
                    @extend %fontRegular;
                    align-self: center;
                }
            }
        }

    }
        .container-insta{
            margin: 0 100px;
            h1{
               
                    @extend %fontBold;
                    color: #8C5383;
                    text-transform: uppercase;
                    font-size: 28px;
                    margin: 50px 0; 
                    text-align: center;
              
            }
        }
}