/*LES CATEGORIES / PAGE ENTREE BOUTIQUE*/
#post-8{
    header{
        margin: 0 100px;
        margin-bottom: 50px;

        &::before{
            content: "Les catégories";
            @extend %fontBold;
            font-size: 35px;
            color: #8C5383;
        }
        h1{

            display: none;
        }
    }
    .entry-content{

        

            div{
                ul{
                    margin: 0 100px;
                    display: grid; grid-template-columns: repeat(2, 1fr);
                    gap: 30px;
                    
                    &::before{
                        display: none;
                    }

                    li{
                        width: 100%;
                        height: 300px;
                        

                        a{
                            display: flex; flex-direction: column;
                            justify-content: center; align-items: center;
                            overflow: hidden;
                            border-radius: 10px;
                            position: relative;
                            margin: 0;
                            height: 100%;

                            &::before{
                                content: "";
                                background: rgba($color: #C1B2AB, $alpha: 0.4);
                                width: 100%; height: 100%;
                                position: absolute; top: 0; left: 0;
                                z-index: 0;
                            }

                            img{
                                z-index: -1;
                                object-fit: cover;
                                object-position: center;
                            }

                            h2{

                                &::before{
                                    content: 'Les';
                                    text-transform: initial;
                                }

                                position: absolute;
                                bottom: 20px;
                                @extend %fontBold;
                                font-size: 20px;
                                background-color: #559CAD;
                                border-radius: 10px;
                                padding: 20px;
                                color: #fff;
                                text-transform: lowercase;

                                mark{display: none;}
                            }
                        }
                    }
                }
            }
    }
}
/*LES CATEGORIES / PAGE ENTREE BOUTIQUE*/

#post-0{

    margin: 0 100px;
    header{
        display: flex; flex-direction: row;
        @extend %fontBold;
        font-size: 35px;
        color: #8C5383;
        text-decoration: none;
        text-transform: lowercase;

        &::before{
            content: "Les";
            margin-right: 5px;
            text-transform: initial;
        }

        h1{
            a{
                text-decoration: none;
                color: #8C5383;
            }
        }
    }

    div{
        div{
            p{
                display: none;
            }

            .products{
                .product{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    justify-content: space-around;
    
                    a{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &::before{
                            content: "";
                            background: rgba($color: #C1B2AB, $alpha: 0.4);
                            width: 100%; height: 78%;
                            position: absolute; top: 0; left: 0;
                            z-index: 0; border-radius: 10px;
                        }
                       
    
                        img{
                            border-radius: 10px;
                            position: relative;
                            width: 500px !important;
                            height: 500px !important;
                            object-fit: cover;
                            object-position: center;
                            z-index: -1;
                            border-radius: 10px;

                            
                          
                        }
    
                        h2{
                            @extend %fontBold;
                            font-size: 22px !important;
                            color: #4A5899;
                            text-align: center;
                        }
    
                        .price{
                            @extend %fontBlack;
                            font-size: 20px !important;
                            color: #636363 !important;
                        }
                    }
    
                    .add_to_cart_button{
                        background: #4A5899;
                        color: #fff;width: 50%;
                        @extend %fontRegular;
                        align-self: center;

                        &::before{
                            display: none;
                        }
                    }
                }
            }

        }
    }
}

.woocommerce-ordering{
    border: 2px solid #4A5899;
    border-radius: 10px;
    width: 30%;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 30px !important;

    select{
        border: none;
        @extend %fontBold;
        color: #4A5899;
        padding: 5px;
        width: 100%;
        appearance: auto;
        background: none;

        &:focus{
            border: none;
        }
    }
}